@import url(http://fonts.googleapis.com/css?family=Roboto:100);
button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477dca), color-stop(100%, #2760b2));
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c71bb), color-stop(100%, #255aa5));
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eeeeee; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header.navigation {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: gray;
  border-bottom: 5px solid #676767;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 90px;
  width: 100%;
  z-index: 999; }
  header.navigation:before, header.navigation:after {
    content: " ";
    display: table; }
  header.navigation:after {
    clear: both; }
  header.navigation .menu-wrapper {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .menu-wrapper:before, header.navigation .menu-wrapper:after {
      content: " ";
      display: table; }
    header.navigation .menu-wrapper:after {
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 90px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo .logo-text {
      font-family: 'Roboto', sans-serif;
      font-size: 4em;
      color: white;
      position: relative;
      top: -17px;
      left: 5px; }
    header.navigation .logo img {
      max-height: 90px;
      padding: .8em 0; }
  header.navigation .menu-button {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: block;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 90px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .menu-button {
        display: none; } }
    header.navigation .menu-button:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    header.navigation .nav {
      float: left; } }
  header.navigation ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
    display: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li {
    background: gray;
    display: block;
    line-height: 90px;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li {
        background: transparent;
        display: inline;
        line-height: 90px;
        padding-right: 2em;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li a {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7); }
      header.navigation ul li a:hover {
        color: white; }
  @media screen and (min-width: 53.75em) {
    header.navigation .sign-up {
      position: absolute;
      top: 0px;
      right: 0px;
      padding-right: 1em; }
      header.navigation .sign-up a {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        background: #477dca;
        border-radius: 0.1875em;
        color: white;
        font-size: .8em;
        font-weight: 800;
        padding: .6em 1em;
        text-transform: uppercase; }
        header.navigation .sign-up a:hover {
          background: #6f99d5; } }

.top-shows-selector {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: black; }
  .top-shows-selector:before, .top-shows-selector:after {
    content: " ";
    display: table; }
  .top-shows-selector:after {
    clear: both; }
  .top-shows-selector .search-bar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    position: relative;
    display: inline-block; }
    @media screen and (min-width: 40em) {
      .top-shows-selector .search-bar {
        width: auto;
        float: left;
        border-top-width: 1px;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .top-shows-selector .search-bar:last-child {
          margin-right: 0; } }
    .top-shows-selector .search-bar:last-child {
      margin-right: 0; }
    .top-shows-selector .search-bar input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block; }
    .top-shows-selector .search-bar div.search-and-submit {
      position: relative; }
      .top-shows-selector .search-bar div.search-and-submit input[type=search] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        width: 100%;
        padding: .5em .8em;
        font-size: .9em;
        font-style: italic;
        border-radius: 0.375em;
        margin: 0; }
      .top-shows-selector .search-bar div.search-and-submit button[type=submit] {
        border: 1px solid lightgray;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 white;
        color: #333333;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        background-color: #f7f7f7;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #dadada));
        background-image: -webkit-linear-gradient(#f7f7f7, #dadada);
        background-image: linear-gradient(#f7f7f7, #dadada);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        outline: none;
        padding: 5px 10px; }
        .top-shows-selector .search-bar div.search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 white;
          cursor: pointer;
          background-color: #eaeaea;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, lightgray));
          background-image: -webkit-linear-gradient(#eaeaea, lightgray);
          background-image: linear-gradient(#eaeaea, lightgray); }
        .top-shows-selector .search-bar div.search-and-submit button[type=submit]:active:not(:disabled) {
          border: 1px solid lightgray;
          box-shadow: inset 0 0 8px 4px #cbcbcb, inset 0 0 8px 4px #cbcbcb, 0 1px 1px 0 #eeeeee; }
        .top-shows-selector .search-bar div.search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        .top-shows-selector .search-bar div.search-and-submit button[type=submit] img {
          height: 12px;
          opacity: .7; }
  .top-shows-selector .button-group {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .top-shows-selector .button-group:last-child {
      margin-right: 0; }
    .top-shows-selector .button-group button {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e3e3e3));
      background-image: -webkit-linear-gradient(white, #e3e3e3);
      background-image: linear-gradient(white, #e3e3e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      font-weight: 100;
      color: gray;
      font-size: 1em;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      width: 100%;
      display: block;
      border-width: 1px;
      border-bottom-left-radius: 2;
      border-bottom-right-radius: 2;
      border-width: 1px; }
      .top-shows-selector .button-group button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #dbdbdb));
        background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
        background-image: linear-gradient(#f2f2f2, #dbdbdb); }
      .top-shows-selector .button-group button:active:not(:disabled) {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4, 0 1px 1px 0 #eeeeee; }
      .top-shows-selector .button-group button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
      .top-shows-selector .button-group button:last-child {
        margin-right: 0; }
      .top-shows-selector .button-group button.active {
        border: 1px solid #2459a6;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #89a8d5;
        color: white;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        background-color: #477dca;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477dca), color-stop(100%, #2760b2));
        background-image: -webkit-linear-gradient(#477dca, #2760b2);
        background-image: linear-gradient(#477dca, #2760b2);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #1b4f9a;
        background-clip: padding-box;
        font-weight: 100;
        font-size: 1em; }
        .top-shows-selector .button-group button.active:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #628cc8;
          cursor: pointer;
          background-color: #3c71bb;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c71bb), color-stop(100%, #255aa5));
          background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
          background-image: linear-gradient(#3c71bb, #255aa5); }
        .top-shows-selector .button-group button.active:active:not(:disabled) {
          border: 1px solid #2459a6;
          box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eeeeee; }
        .top-shows-selector .button-group button.active:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
      @media screen and (min-width: 40em) {
        .top-shows-selector .button-group button {
          width: auto;
          float: left;
          border-width: 1px;
          border-top-right-radius: 2px;
          border-bottom-left-radius: 2px; } }

.footer {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);
  margin-top: 5px;
  margin-bottom: 5px;
  background: gray;
  padding: 3em 1.618em;
  width: 100%;
  border-top: 5px solid #676767; }
  .footer:before, .footer:after {
    content: " ";
    display: table; }
  .footer:after {
    clear: both; }
  .footer .footer-logo {
    text-align: center;
    margin-bottom: 2em; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
    *zoom: 1;
    margin-bottom: 1.5em; }
    .footer .footer-links:before, .footer .footer-links:after {
      content: " ";
      display: table; }
    .footer .footer-links:after {
      clear: both; }
    @media screen and (min-width: 40em) {
      .footer .footer-links {
        margin-left: 25.58941%; } }
  .footer ul {
    margin-bottom: 3em; }
    @media screen and (min-width: 40em) {
      .footer ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        *zoom: 1; }
        .footer ul:last-child {
          margin-right: 0; }
        .footer ul:nth-child(3n) {
          margin-right: 0; }
        .footer ul:nth-child(3n+1) {
          clear: left; }
        .footer ul:before, .footer ul:after {
          content: " ";
          display: table; }
        .footer ul:after {
          clear: both; } }
  .footer li {
    text-align: center; }
    @media screen and (min-width: 40em) {
      .footer li {
        text-align: left; } }
  .footer li a {
    color: rgba(255, 255, 255, 0.4); }
    .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.site-info {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);
  margin-top: 5px;
  margin-bottom: 5px; }
  .site-info:before, .site-info:after {
    content: " ";
    display: table; }
  .site-info:after {
    clear: both; }
  .site-info .image-gradient-dynamic {
    position: relative;
    line-height: 0;
    width: 100%; }
    .site-info .image-gradient-dynamic img {
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      left: 0; }
    .site-info .image-gradient-dynamic .copy {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: auto;
      z-index: 999;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .site-info .image-gradient-dynamic .copy p {
        line-height: 1.5em;
        padding: 1em 2em;
        position: relative;
        color: white;
        font-weight: 800;
        background-color: rgba(0, 0, 0, 0.4); }
    .site-info .image-gradient-dynamic .overlay {
      background-color: rgba(0, 0, 0, 0.7);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.7)));
      background-image: -webkit-linear-gradient(-450deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
      background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; }
      .site-info .image-gradient-dynamic .overlay:after {
        content: '';
        background-color: rgba(0, 0, 0, 0.2);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.2)));
        background-image: -webkit-linear-gradient(-360deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
        background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px; }

.top-shows {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 25px; }
  .top-shows:before, .top-shows:after {
    content: " ";
    display: table; }
  .top-shows:after {
    clear: both; }

.show-info {
  display: none;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);
  margin-top: 5px;
  margin-bottom: 5px; }
  .show-info:before, .show-info:after {
    content: " ";
    display: table; }
  .show-info:after {
    clear: both; }
  .show-info .show-poster {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin: 10px; }
    .show-info .show-poster:last-child {
      margin-right: 0; }
    .show-info .show-poster img {
      box-shadow: black 1px 1px 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .show-info .show-details {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-right: 0; }
    .show-info .show-details:last-child {
      margin-right: 0; }
  .show-info .show-starring {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-right: 0; }
    .show-info .show-starring:last-child {
      margin-right: 0; }
    .show-info .show-starring .actor-name {
      position: absolute;
      bottom: 0;
      color: white;
      font-weight: 100;
      visibility: hidden;
      z-index: -1; }
  .show-info .grid-items {
    *zoom: 1; }
    .show-info .grid-items:before, .show-info .grid-items:after {
      content: " ";
      display: table; }
    .show-info .grid-items:after {
      clear: both; }
    .show-info .grid-items .grid-item {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      height: 8.65em;
      background: #6b83a6;
      width: 100%;
      overflow: hidden;
      float: left;
      padding: 1em;
      border-top: 0;
      border-bottom: 9px solid white;
      border-left: 4.5px solid white;
      border-right: 4.5px solid white;
      margin-top: 12px;
      color: black;
      font-weight: 200;
      text-align: center;
      cursor: pointer; }
      @media screen and (min-width: 53.75em) {
        .show-info .grid-items .grid-item {
          width: 33.33333%; } }
      .show-info .grid-items .grid-item:nth-child(1) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .show-info .grid-items .grid-item:nth-child(1):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .show-info .grid-items .grid-item:nth-child(2) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .show-info .grid-items .grid-item:nth-child(2):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .show-info .grid-items .grid-item:nth-child(3) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .show-info .grid-items .grid-item:nth-child(3):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .show-info .grid-items .grid-item:nth-child(4) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .show-info .grid-items .grid-item:nth-child(4):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .show-info .grid-items .grid-item:nth-child(5) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .show-info .grid-items .grid-item:nth-child(5):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .show-info .grid-items .grid-item:nth-child(6) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .show-info .grid-items .grid-item:nth-child(6):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .show-info .grid-items .grid-item:nth-child(7) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .show-info .grid-items .grid-item:nth-child(7):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
    .show-info .grid-items .grid-item img {
      display: block;
      height: 4em;
      margin: auto;
      margin-top: 1em; }
    .show-info .grid-items .grid-item h1 {
      color: black;
      font-weight: 100;
      font-size: 1.8em;
      margin-bottom: .4em; }
    .show-info .grid-items .grid-item ul {
      *zoom: 1;
      display: table;
      width: 100%;
      table-layout: fixed; }
      .show-info .grid-items .grid-item ul:before, .show-info .grid-items .grid-item ul:after {
        content: " ";
        display: table; }
      .show-info .grid-items .grid-item ul:after {
        clear: both; }
      .show-info .grid-items .grid-item ul li {
        display: table-cell;
        padding-right: 1.57177%;
        width: 24.80353%; }
    .show-info .grid-items .grid-item p {
      margin: auto;
      color: rgba(0, 0, 0, 0.7); }
      @media screen and (min-width: 40em) {
        .show-info .grid-items .grid-item p {
          max-width: 70%; } }
    @media screen and (min-width: 53.75em) {
      .show-info .grid-items .grid-item-big {
        width: 66.66667%; } }
    @media screen and (min-width: 40em) {
      .show-info .grid-items .grid-item-big p {
        max-width: 60%; } }
    @media screen and (min-width: 53.75em) {
      .show-info .grid-items .grid-item-xbig {
        width: 100%; } }
    @media screen and (min-width: 40em) {
      .show-info .grid-items .grid-item-xbig p {
        max-width: 60%; } }

.episode-listing {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);
  margin-top: 5px;
  margin-bottom: 5px; }
  .episode-listing:before, .episode-listing:after {
    content: " ";
    display: table; }
  .episode-listing:after {
    clear: both; }
  .episode-listing .seasons .season-number {
    font-weight: 100;
    font-size: 3em;
    padding: 15px; }
  .episode-listing .seasons .season-carousel {
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
    .episode-listing .seasons .season-carousel .episode-number {
      position: relative;
      font-weight: 100;
      font-size: 3em;
      left: 55px;
      bottom: 15px;
      color: white; }
    .episode-listing .seasons .season-carousel img {
      height: 175px; }

.show-breadcrumbs {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: black; }
  .show-breadcrumbs:before, .show-breadcrumbs:after {
    content: " ";
    display: table; }
  .show-breadcrumbs:after {
    clear: both; }
  .show-breadcrumbs .breadcrumb {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    text-align: left; }
    .show-breadcrumbs .breadcrumb a {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      background-color: white;
      border: 1px solid #dddddd;
      color: #999999;
      line-height: 2.25em;
      margin-right: -5px;
      font-size: .8em;
      padding: 0 0.5625em 0 1.125em;
      position: relative;
      text-decoration: none;
      margin-bottom: 2px; }
      .show-breadcrumbs .breadcrumb a:first-child {
        padding-left: 1.125em;
        border-top-left-radius: 0.1875em;
        border-bottom-left-radius: 0.1875em; }
      .show-breadcrumbs .breadcrumb a:last-child {
        background-color: white;
        color: #999999;
        border-bottom-right-radius: 0.1875em;
        border-top-right-radius: 0.1875em;
        padding-right: 1.125em; }
      .show-breadcrumbs .breadcrumb a:hover {
        color: #477dca;
        background-color: white; }
      .show-breadcrumbs .breadcrumb a:hover:after {
        border-left-color: white; }
      .show-breadcrumbs .breadcrumb a:after, .show-breadcrumbs .breadcrumb a:before {
        position: absolute;
        top: 0px;
        right: auto;
        bottom: 0px;
        left: 100%;
        border-bottom: 1.125em solid transparent;
        border-left: 0.5625em solid transparent;
        border-top: 1.125em solid transparent;
        content: '';
        display: block;
        margin: auto;
        z-index: 2; }
      .show-breadcrumbs .breadcrumb a:last-child:after, .show-breadcrumbs .breadcrumb a:last-child:before {
        border: none; }
      .show-breadcrumbs .breadcrumb a:before {
        border-left-color: #dddddd;
        margin-left: 1px;
        z-index: 1; }
      .show-breadcrumbs .breadcrumb a:after {
        border-left-color: white; }
      @media screen and (min-width: 40em) {
        .show-breadcrumbs .breadcrumb a {
          font-size: 1em;
          padding: 0 1.125em 0 1.5em; } }

.show-banner {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);
  margin-top: 5px;
  margin-bottom: 5px; }
  .show-banner:before, .show-banner:after {
    content: " ";
    display: table; }
  .show-banner:after {
    clear: both; }
  .show-banner .image-gradient-dynamic {
    position: relative;
    line-height: 0;
    width: 100%; }
    .show-banner .image-gradient-dynamic img {
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      left: 0; }
    .show-banner .image-gradient-dynamic .copy {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: auto;
      z-index: 999;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .show-banner .image-gradient-dynamic .copy p {
        line-height: 1.5em;
        padding: 1em 2em;
        position: relative;
        color: white;
        font-weight: 800;
        background-color: rgba(0, 0, 0, 0.4); }
    .show-banner .image-gradient-dynamic .overlay {
      background-color: rgba(255, 255, 255, 0);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, transparent));
      background-image: -webkit-linear-gradient(-450deg, rgba(255, 255, 255, 0), transparent);
      background-image: linear-gradient(180deg,rgba(255, 255, 255, 0), transparent);
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; }
      .show-banner .image-gradient-dynamic .overlay:after {
        content: '';
        background-color: transparent;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(-360deg, transparent, rgba(255, 255, 255, 0));
        background-image: linear-gradient(90deg,transparent, rgba(255, 255, 255, 0));
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px; }

.episode-options {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);
  margin-top: 15px;
  margin-bottom: 15px; }
  .episode-options:before, .episode-options:after {
    content: " ";
    display: table; }
  .episode-options:after {
    clear: both; }
  .episode-options .switch-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    width: 5em;
    margin-bottom: 1.5em; }
    .episode-options .switch-container input.switch-checkbox {
      display: none; }
      .episode-options .switch-container input.switch-checkbox:checked + .switch-label .switch-inner {
        margin-left: 0; }
      .episode-options .switch-container input.switch-checkbox:checked + .switch-label .switch-toggle-switch {
        right: 0; }
    .episode-options .switch-container label.switch-label {
      border-radius: 3px;
      cursor: pointer;
      display: block;
      overflow: hidden; }
      .episode-options .switch-container label.switch-label .switch-inner {
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        margin-left: -100%;
        width: 200%; }
        .episode-options .switch-container label.switch-label .switch-inner:before, .episode-options .switch-container label.switch-label .switch-inner:after {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          float: left;
          height: 2em;
          padding: 0;
          width: 50%; }
        .episode-options .switch-container label.switch-label .switch-inner:before {
          content: '';
          background: #477dca; }
        .episode-options .switch-container label.switch-label .switch-inner:after {
          content: '';
          background: #DDD; }
      .episode-options .switch-container label.switch-label .switch-toggle-switch {
        position: absolute;
        top: 0px;
        right: 3.6em;
        bottom: 0px;
        -webkit-transition: all 0.3s ease-in 0s;
        -moz-transition: all 0.3s ease-in 0s;
        transition: all 0.3s ease-in 0s;
        height: 1.6em;
        width: 1em;
        border-radius: 1.5px;
        margin: 0.2em;
        background: white;
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1); }
  .episode-options .progress-bar-indication {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
    border-radius: 0.1875em;
    margin: 0 auto;
    width: 50%; }
    .episode-options .progress-bar-indication > span.meter {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #477dca;
      background-size: 40px 40px;
      background-repeat: repeat-x;
      border: 1px solid #2c5999;
      border-radius: 0.125em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: block;
      height: 100%;
      width: 60%; }
    .episode-options .progress-bar-indication p {
      margin-bottom: 0;
      padding: .1em .5em;
      font-weight: 800;
      color: white;
      text-shadow: 0 0 1px black; }
  .episode-options .grid-items {
    *zoom: 1; }
    .episode-options .grid-items:before, .episode-options .grid-items:after {
      content: " ";
      display: table; }
    .episode-options .grid-items:after {
      clear: both; }
    .episode-options .grid-items .grid-item {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      height: 14em;
      background: #6b83a6;
      width: 100%;
      overflow: hidden;
      float: left;
      padding: 2em;
      border-top: 0;
      border-bottom: 9px solid white;
      border-left: 4.5px solid white;
      border-right: 4.5px solid white;
      color: white;
      text-align: center;
      cursor: pointer; }
      @media screen and (min-width: 53.75em) {
        .episode-options .grid-items .grid-item {
          width: 33.33333%; } }
      .episode-options .grid-items .grid-item:nth-child(1) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .episode-options .grid-items .grid-item:nth-child(1):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .episode-options .grid-items .grid-item:nth-child(2) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .episode-options .grid-items .grid-item:nth-child(2):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .episode-options .grid-items .grid-item:nth-child(3) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .episode-options .grid-items .grid-item:nth-child(3):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .episode-options .grid-items .grid-item:nth-child(4) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .episode-options .grid-items .grid-item:nth-child(4):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .episode-options .grid-items .grid-item:nth-child(5) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .episode-options .grid-items .grid-item:nth-child(5):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .episode-options .grid-items .grid-item:nth-child(6) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .episode-options .grid-items .grid-item:nth-child(6):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
      .episode-options .grid-items .grid-item:nth-child(7) {
        background-color: gray;
        box-shadow: inset 0px 0px 1px 2px #676767; }
        .episode-options .grid-items .grid-item:nth-child(7):hover {
          background-color: #676767;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover; }
    .episode-options .grid-items .grid-item img {
      display: block;
      height: 3em;
      margin: auto;
      margin-bottom: 1em; }
    .episode-options .grid-items .grid-item h1 {
      color: black;
      font-size: 1.3em;
      margin-bottom: .4em; }
    .episode-options .grid-items .grid-item p {
      margin: auto;
      color: rgba(0, 0, 0, 0.7); }
      @media screen and (min-width: 40em) {
        .episode-options .grid-items .grid-item p {
          max-width: 70%; } }
    @media screen and (min-width: 53.75em) {
      .episode-options .grid-items .grid-item-big {
        width: 66.66667%; } }
    @media screen and (min-width: 40em) {
      .episode-options .grid-items .grid-item-big p {
        max-width: 60%; } }

.episode-detail {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);
  margin-top: 5px;
  margin-bottom: 5px; }
  .episode-detail:before, .episode-detail:after {
    content: " ";
    display: table; }
  .episode-detail:after {
    clear: both; }
  .episode-detail .episode-image {
    display: table-cell;
    padding-right: 1.76824%;
    width: 33.5298%;
    padding: 15px; }
    .episode-detail .episode-image img {
      z-index: 50;
      box-shadow: black 1px 1px 5px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
  .episode-detail .episode-title {
    display: table-cell;
    padding-right: 1.76824%;
    width: 33.5298%;
    margin-right: 0;
    padding: 15px;
    vertical-align: top; }
    .episode-detail .episode-title h1 {
      font-weight: 100;
      font-family: Roboto;
      font-size: 2em;
      color: white;
      background: black;
      opacity: .8; }
    .episode-detail .episode-title h2 {
      font-family: Roboto;
      font-size: 1em;
      font-weight: 500;
      color: white;
      padding: 5px;
      background: black;
      opacity: .8; }
  .episode-detail .episode-stars {
    display: table-cell;
    padding-right: 1.76824%;
    width: 33.5298%;
    *zoom: 1;
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-right: 0;
    vertical-align: top; }
    .episode-detail .episode-stars:before, .episode-detail .episode-stars:after {
      content: " ";
      display: table; }
    .episode-detail .episode-stars:after {
      clear: both; }
    .episode-detail .episode-stars h2 {
      font-family: Roboto;
      font-size: 1em;
      padding: 10px;
      color: white;
      font-weight: 600;
      background: black;
      opacity: .8;
      margin-left: 10px;
      margin-right: auto;
      width: 100%; }
    .episode-detail .episode-stars h1 {
      font-family: Roboto;
      font-size: 2em;
      font-weight: 500;
      color: white;
      padding: 5px;
      background: black;
      opacity: .8;
      margin-left: 10px;
      margin-right: auto;
      width: 100%; }
  .episode-detail .episode-synopsis {
    display: table-cell;
    padding-right: 1.76824%;
    width: 33.5298%;
    *zoom: 1;
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-right: 0;
    vertical-align: top; }
    .episode-detail .episode-synopsis:before, .episode-detail .episode-synopsis:after {
      content: " ";
      display: table; }
    .episode-detail .episode-synopsis:after {
      clear: both; }
    .episode-detail .episode-synopsis h2 {
      font-family: Roboto;
      font-size: 1em;
      padding: 10px;
      color: white;
      font-weight: 600;
      background: black;
      opacity: .8;
      margin-left: 10px;
      margin-right: auto;
      width: 100%; }
    .episode-detail .episode-synopsis h1 {
      font-family: Roboto;
      font-size: 2em;
      font-weight: 500;
      color: white;
      padding: 5px;
      background: black;
      opacity: .8;
      margin-left: 10px;
      margin-right: auto;
      width: 100%; }
  .episode-detail .image-gradient-dynamic {
    position: relative;
    line-height: 0;
    width: 100%; }
    .episode-detail .image-gradient-dynamic img {
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      left: 0; }
    .episode-detail .image-gradient-dynamic .copy {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: auto;
      z-index: 999;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .episode-detail .image-gradient-dynamic .copy p {
        line-height: 1.5em;
        padding: 1em 2em;
        position: relative;
        color: white;
        font-weight: 800;
        background-color: rgba(0, 0, 0, 0.4); }
    .episode-detail .image-gradient-dynamic .overlay {
      background-color: rgba(255, 255, 255, 0.4);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(0, 128, 128, 0.4)));
      background-image: -webkit-linear-gradient(-450deg, rgba(255, 255, 255, 0.4), rgba(0, 128, 128, 0.4));
      background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.4), rgba(0, 128, 128, 0.4));
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; }
      .episode-detail .image-gradient-dynamic .overlay:after {
        content: '';
        background-color: rgba(255, 255, 255, 0.2);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 0, 0.2)));
        background-image: -webkit-linear-gradient(-360deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 0, 0.2));
        background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.2), rgba(255, 255, 0, 0.2));
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px; }

body {
  background-color: black; }

section {
  background-color: white; }
