@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";

@import url(http://fonts.googleapis.com/css?family=Roboto:100);
// $background-main: desaturate(#EC173A, 20);
$background-main: black;

@import "header";
@import "top_shows_selector";
@import "footer";
@import "hero";

@import "top_shows";
@import "show_info";

@import "show_page";

@import "episode_page";

body {
  background-color: $background-main;
}

section {
  background-color: white;
}
