@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";

#logo {
  color: $light-gray;
}

#wrapper {
  @include outer-container;
}

.left-column {
  @include span-columns(3);
}

.main-content {
  @include span-columns(9);
}

header.navigation {
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  z-index: 999;

  .menu-wrapper {
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: 1em;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }

  .menu-button {
    color: $navigation-color;
    cursor: pointer;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($large-screen) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  .nav {
    @include media ($large-screen) {
      float: left;
    }
  }

  ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    display: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media ($large-screen) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  ul li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($large-screen) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      padding-right: 2em;
      text-decoration: none;
      width: auto;
    }

    a {
      font-weight: 400;
      color: $navigation-color;

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .sign-up {
    @include media ($large-screen) {
      @include position(absolute, 0px 0px 0 0);
      padding-right: 1em;

      a {
        @include transition (all 0.2s ease-in-out);
        background: $navigation-nav-button-background;
        border-radius: $base-border-radius;
        color: white;
        font-size: .8em;
        font-weight: 800;
        padding: .6em 1em;
        text-transform: uppercase;

        &:hover {
          background: lighten($navigation-nav-button-background, 10);
        }
      }
    }
  }

  li.navigation-search-bar {
    display: none;

    @include media($large-screen) {
      @include position(absolute, 0px 76px 0 0);
      display: inline-block;
      line-height: 0 !important;
      padding: 13px 30px; // this to get around Firefox/Opera line-height "bug"
    }
  }

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);

    width: 19em;
    position: relative;
    display: inline-block;

    input {
      @include box-sizing(border-box);
      display: block;
    }

    .search-and-submit {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: $navigation-color;
        border-radius: $base-border-radius * 2;
        margin: 0;
      }

      button[type=submit] {
        @include button(simple, lighten($navigation-search-background, 10));
        @include position(absolute, 0.3em 0.3em 0.3em 0);
        outline: none;
        padding: 5px 15px;

        img {
          height: 12px;
          opacity: .7;
        }
      }
    }
  }
}
a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

a.darken .text {
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}
a.darken img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.darken:hover img {
  opacity: 0.7;
}

a.darken:hover .text {
  visibility:visible;
}

#owl-demo .item{
  $radius-num: 2px;
  padding: 1px 2px;
  margin: 3px;
  -webkit-border-radius: $radius-num;
  -moz-border-radius: $radius-num;
  border-radius: $radius-num;
  text-align: center;
    img{
      box-shadow: black 1px 1px 5px;
      height: 100%;
      width: 100%;
    }
}

.hidden {
  display:none;
}
.showinfo {
  @include fill-parent();
}
.show-image {
  @include span-columns(4);
  @include omega();
  @include pad(10px 10px 10px default);
  img {
    box-shadow: black 2px 2px 10px;
  }
}

.show-seasons {
  @include span-columns(8);
  @include omega();
  @include pad(5px 5px 5px default);
  $radius-num: 2px;
  -webkit-border-radius: $radius-num;
  -moz-border-radius: $radius-num;
  border-radius: $radius-num;
  margin: 5px auto;
  padding: 5px;

  img{
    padding: 5px 5px;
    margin: 5px auto;
    box-shadow: black 1px 1px 5px;
    height: 100%;
    width: 100%;
  }

  h2 {
    font-weight: 100;
    margin: 5px auto;
    color: white;
    background-color: transparentize(black, .6);
  }

  .text {
    position:relative;
    bottom:60px;
    left:0px;
    color: black;
    visibility:hidden;
    font-weight: 100;
    font-size: 1.5em;
    padding: 2px;
    background-color: transparentize(white, .3);
  }
}
.cards {
  @include clearfix;
}

.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5);
  $card-stats-color: lighten($base-accent-color, 10);

  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  margin-bottom: $base-line-height;
  cursor: pointer;
  box-shadow: 0 2px 4px darken($base-body-color, 10);
  position: relative;

  @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n);
  }

  .card-image {
    overflow: hidden;
    max-height: 150px;

    img {
      width: 100%;
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
  }

  .ribbon-wrapper {
    $ribbon-size: 85px;
    $ribbon-background: $base-accent-color;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;

    .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: $ribbon-background;
      color: white;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    padding: $base-line-height/3 $gutter/2;
  }

  .card-copy {
    padding: $base-line-height/2 $gutter/2;
    font-size: .9em;
    line-height: 1.5em;
  }

  .card-stats {
    padding: $base-line-height/2 $gutter/2;
    overflow: auto;

    ul li {
      display: inline;
      color: $card-stats-color;
      font-weight: 800;
      font-size: 1.2em;
      float: left;
      border-right: 1px solid transparentize($base-font-color, .8);
      line-height: 1.1em;
      padding: 0 .7em 0 .7em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      span {
        color: $base-font-color;
        font-size: .7em;
        display: block;
        font-weight: normal;
      }
    }
  }

  &:hover {
    background-color: $card-hover-background;

    .card-image img {
      background: $card-image-hover-background;
    }

    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

#owl-season .item{
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}

.image-gradient-dynamic {
  $image-gradient-color-top: black;
  $transparency-top: .6;
  $image-gradient-color-bottom: white;
  $transparency-bottom: .6;
  $vertical-angle: 180deg;

  $image-gradient-color-left: white;
  $transparency-left: .8;
  $image-gradient-color-right: black;
  $transparency-right: .8;
  $horizontal-angle: 90deg;

  padding: 10px;

  position: relative;
  line-height: 0;
  width: 100%;
  margin-bottom: $base-line-height;

  img {
   width: 100%;
   height: auto;
   position: relative;
   top: 0;
   left: 0;
  }

  .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    z-index: 999;
    text-align: center;
    @include transform(translate(-50%, -50%));
    @include fill-parent();

    p {
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative;
      color: white;
      font-weight: 800;
      background-color: transparentize(black, .6);
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left),
        transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }
}
.vertical-tabs-container { // small screens: accordion
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-border-radius: $base-border-radius;
  $tab-content-background: lighten($tab-border-color, 10);
  $tab-active-color: $tab-content-background;
  $tab-inactive-color: $base-body-color;
  $vertical-tabs-height: em(300);
  $vertical-tab-mode: $medium-screen;

  @include clearfix;
  border-radius: $tab-border-radius;
  border: $tab-border;
  margin-bottom: $base-line-height;
  overflow: hidden;

  .vertical-tabs {
    display: none;

    @include media($vertical-tab-mode) {
      background-color: $tab-inactive-color;
      display: inline;
      float: left;
      height: $vertical-tabs-height;
      width: 20%;
    }
  }

  .vertical-tab {
    @include media($vertical-tab-mode) {
      border-bottom: $tab-border;
      display: block;
      font-weight: bold;
      margin-right: -1px;
      padding: $base-line-height/2 $gutter/2;

      &.is-active {
        background-color: $tab-content-background;
        margin-right: -1px;
      }
    }
  }

  .vertical-tab:focus {
    outline: none;
  }

  .vertical-tab-content-container {
    display: block;
    margin: 0 auto;

    & a:focus {
      outline: none;
    }

    @include media($vertical-tab-mode) {
      @include inline-block;
      @include size(80% $vertical-tabs-height);
      background-color: $tab-content-background;
    }
  }

  .vertical-tab-content {
    background-color: $tab-content-background;
    padding: $base-line-height $gutter;

    @include media($vertical-tab-mode) {
      border: none;
      display: none;
    }
  }

  .vertical-tab-accordion-heading {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: $base-line-height/2 $gutter/2;

    &:hover {
      color: $base-accent-color;
    }

    &:first-child {
      border-top: none;
    }

    &.is-active {
      background: $tab-active-color;
      border-bottom: none;
    }

    @include media($vertical-tab-mode) {
      display: none;
    }
  }
}
.owl-theme .owl-buttons i{
  margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 55px;
}

